body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url("../img/background-header.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

/* HEADER*/

header{
    height: 45rem;
    display: block;
    align-items: center;
    justify-content: center;
    /*background: url("../img/background-header.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;*/
}

:root{
    --hauteur-menu: 4.5em;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
  }
  nav {
    width: 100%;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    margin-bottom: 2%;
  }

  nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
  }
   
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
  }

  nav > ul > li > a {
    position: absolute;
    font-weight: 450;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .menu-deroulant > a:after{
    content: '\002794';
    font-size: 13px;
    margin-left: 7px;
    display: inline-block;
  }

  .sous-menu {
    margin-top: 5.6em;
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    font-size: 0.8em;
  }
  
  .sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
  }

  nav > ul > li:hover > a{
    color: #2169EC /*#e52675*/;
  }

  .sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3) /*rgba(186, 74, 119, 0.3)*/;
  }
  
  .sous-menu > li:hover > a {
    color: #2169EC /*#e52675*/;
  }

  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }

  .menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }

  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 2px rgba(0,0,0,0);
      border-top: 3px solid /*#e52675*/ #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 2px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC /*#e52675*/;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }

  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }

.divLog{
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-right: 2%;
}

.membre{
  font-size: 1em;
  font-weight: 600;
}

.divLogo{
  height: 35%;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 2.5%;
}

.logo{
  height: 95%;
}

.divTitleText{
  font-size: 1.5em;
  margin-bottom: 3%;
  font-weight: 400%;
}

.titleText{
  font-family: 'Comfortaa', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
}

.flecheScroll{
  height: 5em;
}

.aFleche{
  font-size: 3em;
  scroll-behavior: smooth;
}

.aFleche:hover{
  color: /*rgb(186, 74, 119)*/#2169EC;
  font-size: 3.3em;
  transition: 0.5s;
  padding-top: 5%;
}


/*FIN HEADER*/
/*DÉBUT MAIN*/


main{
  background-color: rgba(186, 74, 119, 0.2);
  /*min-height: 80em;*/
  height: auto;
  padding-top: 3%;
  display: block;
  justify-content: space-between;
}

.rechercheArticles{
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  min-height: 40vh;
  height:auto;
  align-items: center;
}

.divBar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  width: 30%;
}

.searchBar{
  padding-left: 2%;
  height: 5vh;
  width: 80%;
  border-radius: 20px;
  border: 1px solid #363737;
}

.searchBar:onclick{
  border: 5px solid #2C75FF;
}

.submitButton{
  height: 5vh;
  width: 5vh;
  outline: none;
  border-radius: 50%;
  border: none;
  background-color: #2C75FF/*rgba(0,191,255, .9)*/;
}

.renvoi{
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  height: auto;
  width: 90%;
  padding-top: 1.5%;
}

.titleSearch{
  font-size: 1.2em;
  margin-bottom: 3%;
  padding-left: 1.5%;
}

.divRenvoi{
  height: 77%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.retourBlock{
  display: block;
  border: 1px solid #363737;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  border-radius: 20px;
  margin-bottom:3%;
  background-color: #c4b7b1a2;
  /*background-image: url('https://cdn.pixabay.com/photo/2016/06/07/16/12/sky-1441936_960_720.jpg');*/
}

.retourContenu{
  height: 12.5vh;
  width: 26vh;
  font-size: 0.82em;
  table-layout: fixed;
  overflow: hidden;
  text-overflow: ellipsis;
}

.retourBlock:hover{
  box-shadow: 0.75px 1px 1px 0.75px rgba(0,0,0,0.6);
  transition: 0.4s;
}

.retourBlock:hover > p > a > span{
    color: #2C75FF;
}

.retourBlock > p > a:hover > span{
  text-decoration: underline;
  color: #2C75FF;
}

.echec{
  width: 100%;
  text-align: center;
  margin-bottom: 1.5%
}

.aAllArticles{
  font-size: 1.1em;
  font-weight: 500;
}

.aAllArticles:hover{
    color: #2C75FF;
}

.allArticles{
  border: 1px black;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1.5%;
}

.hrMain{
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 40%;;
  width: 70%;
  height: 3px;
  background-image: linear-gradient(to right, rgba(44, 117, 255, 0.25), rgba(44, 117, 255, .75), rgba(44, 117, 255, .25));
  margin-top: 5%;
  margin-bottom: 5%;
}

.articles{
  min-height: 20em;
  height: auto;
  padding-bottom: 2%;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

article{
    width: 40%;
    height: auto;
    display: inline-block;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 20px;
    padding-bottom: 3%;
    margin-bottom: 5%;
    background-color: #c4b7b1a2;
    border: 1px solid black;
}

.premier{
    margin-left: 3%;
}

.second{
    margin-right: 3%;
}

.ptit{
  font-size: 1em;
  padding-left: 5%;
}

.ptitLink{
  margin-top: 5%;
}

.ptitLink:hover>a{
  text-decoration: underline #1b5fdd;
}

article:hover > p > a{
  color: #1b5fdd;
}

article:hover{
  box-shadow: 0.75px 1px 1px 0.75px rgba(0,0,0,0.6);
  transition: 0.4s;
}


/*FIN MAIN*/
/*DÉBUT FOOTER*/


footer{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363737;
    color: #E8E8E8;
    padding-top: 1.5%;
}

.divGauche{
    display: block;
    width: 20rem;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.divDroite{
    display: block;
    width: 20rem;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.prez{
    font-size: 1.8em;
    font-family: 'Comfortaa', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 2%;
}

footer>div>fieldset{
  border: none;
} 

footer>div>fieldset>span>a{
  font-size: 1.1em;
  font-family: 'Comfortaa', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #E8E8E8;
}

.gauche{
  padding-left: 2%;
}

.droite{
  padding-left: 2%;
}


/*FIN FOOTER*/
/*PETITS DÉTAILS (couleurs de textes, font-size...)*/


h3{
    font-size: 1.6em;
    margin-top: 5%;
    margin-bottom: 7%;
}

.blue{
  color: /*rgb(186, 74, 119)*/#2169EC;
}

.class{
  text-decoration: none;
}

.class:hover{
  text-decoration: underline /*rgb(186, 74, 119)*/#2169EC;
  color: /*rgb(186, 74, 119)*/#2169EC;
  font-size: 1.4em;
  transition: 0.6s;
}

a{
  text-decoration: none;
  color: black;
}

a:visited{
    color:#363737;
}

a{
  text-decoration: none;
}

footer > div > span > a{
  color: #D3D3D3;
}

span:hover{
  color: #2C75FF;
  text-decoration: underline #2C75FF;
}

.a{
  font-weight: bold;
}

.a:hover{
  color: #a5e3e0c0
}

.p:hover{
  color: #a5e3e0c0
}

.p{
  margin-bottom: 3%;
}

@media only screen and (max-width: 900px){
  /*responsive*/
}